*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



body{
    background: rgb(255,239,0);
background: radial-gradient(circle, rgba(255,239,0,1) 0%, rgba(255,158,0,1) 100%);
}

.opcion{
    border-radius: 12px;
}

.imagen{
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#pantalla-inicial{
    display: block;
}

#pantalla-juego{
display: none;
}

#siguiente-pregunta{
    display: none;
    }

#juego-terminado{
        display: none;
        }

.footer{
    background-color: black;
    color: white;
}

.center {
    padding: 70px 0;
    text-align: center;
  }

.corr{
    color:green;
}

.inc{
    color:red;
}

.resultadoFinal{
    color:blue;
}